<mat-card class='matCard'>
    <mat-card-header>
        <mat-card-title>Select cache and click refresh button</mat-card-title>
    </mat-card-header>
    <ng-container >
        <mat-card-content>
            <app-dynamic-grid
                #taskGroupsGrid
                (onClickActionCell)='onClickActionCell($event)'
                (onClickGridBarAction)='onClickGridBarAction($event)'
                [dynGridProps]='dynGridProps'
                [percentWidth]='96'
            ></app-dynamic-grid>
        </mat-card-content>
    </ng-container>
    <mat-card-actions>
        <button mat-raised-button ><mat-icon>replay</mat-icon>&nbsp;&nbsp;Refresh Cache</button>
        <button mat-raised-button ><mat-icon>vertical_align_bottom</mat-icon>&nbsp;&nbsp;Reload Records</button>
    </mat-card-actions>
</mat-card>