
<br/>
<br/>
<div style='margin-bottom:50px;' [style.width.%]='percentWidth' [style.margin-left.%]='(100 - percentWidth)/2' >
    <ng-container [ngSwitch]='gridLoadState.toString()'>
        <div *ngSwitchCase="'LOADING'">
                <br/>
                <br/>
                <app-prog-spinner [marginTop]='10' [message]="'Loading Grid Data. Please wait...'" [diameter]='40' ></app-prog-spinner>
        </div>
        <div *ngSwitchCase="'ERROR'" class='error' >Error occurred while loading data...<br/>
            <button mat-raised-button (click)="refreshGrid(null)">Try again</button>
        </div>
        <ng-container *ngSwitchCase="'SUCCESS'" >
        <div class='example-container mat-elevation-z5' >
            <div class='dynGridToolBar' *ngIf='dynGridProps.dynGridBarActions.length > 0' >
                <ng-container *ngFor='let action of dynGridProps.dynGridBarActions; let i = index;' >
                    <button *ngIf="action.displayType === 'BUTTON'" (click)='gridBarActionClicked(action)' mat-raised-button ><mat-icon>{{ action.icon }}</mat-icon>&nbsp;&nbsp;{{ action.text }}</button>
                    <a *ngIf="action.displayType === 'LINK'" (click)='gridBarActionClicked(action); false;' mat-raised-button ><mat-icon>{{ action.icon }}</mat-icon>&nbsp;&nbsp;{{ action.text }}</a>
                    <button *ngIf="action.displayType === 'MAT_FAB'" (click)='gridBarActionClicked(action)' mat-mini-fab ><mat-icon>{{ action.icon }}</mat-icon></button>
                </ng-container>
            </div>                   
            <mat-table #matDyncGridTable [dataSource]='dataSource' [style.max-height.px]='dynGridProps.maxHeight' >
                <ng-container *ngFor='let header of gridData.headers' matColumnDef='{{header.headerId}}' [style.width]="40" >
                    <mat-header-cell fxFlex="60px" *matHeaderCellDef> {{header.displayName}} </mat-header-cell>
                    <mat-cell fxFlex="60px" *matCellDef='let cell'>
                        <ng-container  [ngSwitch]='header.actionCellType' >
                            <span *ngSwitchCase="'text'"> {{cell[header.headerId]}} </span>
                            <a style='width:100%;text-align:center;' href='#' *ngSwitchCase="'link'" (click)='onClickGridActionCell(cell, header);false;' mat-min-raised-button routerLink=".">{{cell[header.headerId]}}</a>
                            <ng-container *ngSwitchCase="'button'">
                                <button (click)='onClickGridActionCell(cell, header)' *ngIf='header.actionColIconName != null' mat-icon-button color='primary'><mat-icon>{{header.actionColIconName}}</mat-icon></button>
                                <ng-container *ngIf='header.actionColIconName == null' mat-raised-button >{{header.displayName}}</ng-container>
                            </ng-container>
                        </ng-container >
                        <span *ngSwitchDefault >{{cell[header.headerId]}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row class='mat-elevation-z2' *matHeaderRowDef='displayedColumns'></mat-header-row>
                <mat-row *matRowDef='let row; columns: displayedColumns;'></mat-row>
            </mat-table>    
            <mat-paginator
                [pageSize]='dynGridProps.defaDynGridDataReq.pageSize'
                [length]='gridData.total'
                [pageSizeOptions]='dynGridProps.pageSizes'
                (page)='pageEvent = onPageChange ( $event )'
                #dynGridPaginator
                *ngIf='dynGridProps.pageable' >
            </mat-paginator>
        </div>
        </ng-container>
        <div *ngSwitchDefault>Load state could not be determined: {{ gridLoadState }}</div>
    </ng-container>
</div>