<div class='appDiv' >
<mat-sidenav-container [style.height.px]='windowHeight * 0.92' (backdropClick)="close('backdrop')" >
      <mat-sidenav style='' (onClose)='sideNavClosed()' #sidenav (keydown.escape)="close('escape')" disableClose>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal data
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <p>I'm visible because I am open</p>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
      </mat-sidenav>
    
      <mat-sidenav-content style='height:100%;width:100%;' >
        <mat-toolbar role="header" color="primary" class='mat-elevation-z10'  >
                <button mat-button (click)="closeOpenSideName()"><i class="material-icons">&#xE8FE;</i></button>
                <span>Hunter UI</span>
                <button mat-button routerLink='/task/grid'>Tasks</button>
                <button mat-button routerLink='/admin'>Admin</button>
                <button mat-button routerLink='/receiverRegions/grid'>Regions</button>
                <!-- This fills the remaining space of the current row -->
                <span class="example-fill-remaining-space"></span>
                <span>Right Aligned Text</span>
        </mat-toolbar>
        <app-overlay></app-overlay>
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>
    

</div>