<!--component html goes here -->
<br/>
<br/>
<div>
        <mat-tab-group class='mat-elevation-z5 eithCenter' >
            <mat-tab label='Cache Refresh'>
                    <mat-card class='matCard'>
                        <mat-card-header>
                            <mat-card-title>Select cache and click refresh button</mat-card-title>
                        </mat-card-header>
                        <ng-container *ngIf="gridState === 'SUCCESS'" >
                            <mat-card-content>
                                    <mat-selection-list #cacheOptions >
                                        <mat-list-option 
                                            [selected]='c.selected'
                                            [disabled]='c.refreshing'
                                            *ngFor='let c of availCaches'
                                            (click)='onSelCache(c)'
                                            [value]='c.key'
                                        >
                                            <table>
                                                <tr>
                                                    <td style='width:  20px !important;'><mat-spinner *ngIf='c.refreshing' [diameter]='15' ></mat-spinner></td>
                                                    <td>{{c.name}}</td>
                                                </tr>
                                            </table>
                                        </mat-list-option>
                                    </mat-selection-list>
                                </mat-card-content>
                        </ng-container>
                        <ng-container *ngIf="gridState === 'LOADING'" >
                            <app-prog-spinner [marginTop]='0' [message]="'Loading Cache Records. Please wait...'" [diameter]='40' ></app-prog-spinner>
                        </ng-container>
                        <ng-container *ngIf="gridState === 'ERROR_OCCURRED'" >
                            <div style='text-align:center;color:red;' >Error occurred while loading cache records.</div>
                        </ng-container>
                        <mat-card-actions>
                            <button mat-raised-button (click)='refreshSelCaches()'><mat-icon>replay</mat-icon>&nbsp;&nbsp;Refresh Cache</button>
                            <button mat-raised-button (click)='getAvailCaches()'><mat-icon>file_download</mat-icon>&nbsp;&nbsp;Reload Records</button>
                        </mat-card-actions>
                    </mat-card>
            </mat-tab>
            <mat-tab label='User Roles'>
                    <mat-card class='matCard'>
                            <mat-card-header>
                                <mat-card-title>Manage User Roles</mat-card-title>
                            </mat-card-header>
                            <ng-container *ngIf="gridState === 'SUCCESS'" >
                                <mat-card-content>
                                        <app-hunter-combobox #regionCombobox (onChangeDropdown)='onChangeDropdown($event)' ></app-hunter-combobox>
                                    </mat-card-content>
                            </ng-container>
                            <ng-container *ngIf="gridState === 'LOADING'" >
                                <app-prog-spinner [marginTop]='0' [message]="'Loading users...'" [diameter]='40' ></app-prog-spinner>
                            </ng-container>
                            <ng-container *ngIf="gridState === 'ERROR_OCCURRED'" >
                                <div style='text-align:center;color:red;' >Error occurred while loading users.</div>
                            </ng-container>
                            <mat-card-actions>
                                <button mat-raised-button (click)="false;">Refresh Users</button>
                                <button mat-raised-button (click)="false;">Reload Records</button>
                            </mat-card-actions>
                        </mat-card>
            </mat-tab>
        </mat-tab-group>
</div>
