/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-image: url("assets/images/home_ground.jpg");
    background-repeat: repeat;
}

.loadingWidget {
    text-align: center !important;
    margin: auto !important;
}

.error {
    color: red;
}

.eithCenter {
    width: 80%;
    margin-left:10%;
}
