/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-image: url("assets/images/home_ground.jpg");
    background-repeat: repeat;
}

.loadingWidget {
    text-align: center !important;
    margin: auto !important;
}

.error {
    color: red;
}

.success {
    color: green;
}

.eithCenter {
    width: 80%;
    margin-left:10%;
}

.cardContainer {
    width:80%;
    margin-left:10%;
    margin-bottom:50px;
    min-height:300px;
    margin-top: 10px;
    padding:10px;
}

.cardContent {
    min-height: 100px;
    padding: 10px;
    display: inline-block;
    width: auto;
}

.splitFormFields {
    display: block;
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.cardContent div.splitFormFields:first-child {
    padding-right: 10px;
}
.cardContent div.splitFormFields:nth-child(2) {
    float:right;
    margin-left: 10px;
}

.standardMarginTop {
    margin-top: 50px;
}

mat-expansion-panel-header {
    min-height: 48px;
}

.splitFormFieldView {
    display: block;
    width: 100%;
}

.splitFormFieldView > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ECF0F0;
}

.splitFormFieldView > div > div {
    float:left;
    line-height: 3em;
}

.splitFormFieldView > div > div:first-child {
    width:40%;
}

.splitFormFieldView > div > div:nth-child(2) {
    width:60%;
}

.pointerCursor {
    cursor: pointer;
}
